	//slide-animate
	.slide-enter-active, .slide-leave-active {
	  	transition: .3s;
	}
	.slide-leave-active {
		transform:translateY(50px);
	   	opacity:0;
	}
	.slide-enter{
		transform:translateY(-50px);
	   	opacity:0;
	}
	//fade-animate
	.fade-enter-active, .fade-leave-active {
	  	transition: .3s;
	}
	.fade-leave-active {
		
	   	opacity:0;
	}
	.fade-enter{
		
	   	opacity:0;
	}
